{:host "irc.freenode.net"
 :port 6667
 :web-port 8675
 :web-host "localhost"
 :nick "proddbot"
 :jenkins-token "set-via-sysprop"

 :channels {"##tcrawley"
            {:issue-url "https://issues.jboss.org/browse/IMMUTANT"}
            "#clojars"
            {:issue-url "https://github.com/clojars/clojars-web/issues"}
            "#immutant"
            {:issue-url "https://issues.jboss.org/browse/IMMUTANT"}
            "#torquebox"
            {:issue-url "https://issues.jboss.org/browse/TORQUE"}
            "#awestruct"
            {:issue-url "https://github.com/awestruct/awestruct/issues"}
            "#aerogear"
            {:issue-url "https://issues.jboss.org/browse/AEROGEAR"}
            "#liveoak"
            {:issue-url "https://issues.jboss.org/browse/LIVEOAK"}
            "#wildfly-swarm"
            {:issue-url "https://issues.jboss.org/browse/SWARM"}
            "#thorntail"
            {:issue-url "https://issues.jboss.org/browse/THORN"}
            "#forge"
            {:issue-url "https://issues.jboss.org/secure/CreateIssue!default.jspa?pid=12311820"}}

 :issue-triggers {:directed [#"(?i)^@(jira|issue) ([^\s]+)"]
                  :global [#"(?i)(fil(e|ing)|create) an* (jira|issue)[?]"
                           #"(?i)@(jira|issue)"]}

 :base-phrases ["We'd be happy as a big sunflower"
                "We'd be happy as a boy at a baseball game"
                "We'd be happy as a June bug"
                "We'd be happy as a prince"
                "We'd be happy as a queen"
                "We'd be happy as a turtle dove"
                "We'd be happy as a wave that dances on the sea"
                "We'd be happy as the sunlight"
                "We'd be happy as a reprieved thief"
                "We'd be happy as a clam at high water"
                "We'd be happy as Toby when he hears a dinner-bell"
                "We'd be happy as birds in the spring"
                "We'd be happy as a lark"
                "We'd be happy as the kine in the fields"
                "We'd be happy as birds that sing on a tree"
                "We'd be happy as a fish in water"
                "We'd be happy as spirits cleansed"
                "We'd be happy as a king"
                "We'd be happy as a Sunday in Paris, full of song, and dance, and laughter"
                "We'd be happy as a lord"
                "We'd be happy as a lord in a fjord with a sword"
                "We'd be happy as the bird whose nest is heaven'd in the heart of purple hills"
                "We'd be happy as a miner when he has discovered a vein of precious metal"
                "We'd be happy as a schoolgirl going home for the holidays"
                "We'd be happy as a priest at a wedding"
                "We'd be happy as an enfranchised bird"
                "We'd be happy as a poor man with a bag of gold"
                "We'd be happy as a pig in muck"
                "We'd be happy as a young lamb"
                "We'd be happy as heroes after battles won"
                "We'd be happy as the day is long"
                "We'd be happy as the fairest of all"
                "We'd be happy as a serf who leaves the king ennobled"
                "We'd be happy as a rose tree in sunshine"
                "We'd be happy as a child"
                "We'd be happy as a lover"
                "We'd be happy as birds in their bowers"
                "We'd be happy as a wave"
                "We'd be pleased as punch"
                "We'd be tickled pink"
                "We'd be happy as ') DROP TABLE Issues;--"
                "We'd be happy as a drunk in a handbell choir"
                "We'd be happy as a dog with two tails"
                "We'd be happy as a moth in a sweater factory"
                "We'd likely dance a jig"
                "The normally docile populace would dance in the streets"
                "We'd be happy as kids around a maypole on May Day"
                "We would finally be Turing Complete"
                "We'd be happy as a bear at a picnic"
                "We'd be happy as a bear in a koi pond"
                "We'd be happy as a koi in a beer pond"
                "We'd be happy as Burt Reynolds in the 70's"
                "We'd be happy as a cow in Chic-fil-A"
                "We'd be happy as a little girl with a puppy"
                "We'd be happy as a mosquito in a nudist colony"
                "We'd be happy as a kitten in a yarn shop"
                "We'd be happy as a writer with a deadline"
                "We'd be happy as a chihuahua eating candy"
                "We'd be happy as an actor in a leading role"
                "We'd be happy as a battleship stripped for action"
                "We'd be happy as newly-cut wood"
                "We'd be happy as a tornado in a trailer park"
                "We'd be happy as the quivering of tall grass on the plains"
                "We'd be happy as a well-prepared student"
                "We'd be happy as a teenager on Twitter"
                "We'd be fine and dandy like sour candy"
                "Fireflies would tenderly alight on the hand of a child"]
 :release-watch {:signal "@watch-release"
                 :interval 1 ;; minutes
                 :channels #{"#forge" "#immutant" "#thorntail" "##tcrawley"}
                 :messages ["Good news!"
                            "Praise $deity!"
                            "You're in luck, my friend!"
                            "The wait is over!"
                            "Great googly moogly!"
                            "Aw, crap."
                            "Get back to work!"]}}
